



body{
  background: url(локеры.jpg) center/cover  fixed ;
  background-size: 100% 100%;
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 65vh;
  width: 500px;
  margin-top: 180px;
  /* margin-top: 19.4vh; */
  margin-right: 9px;
}

.locker {
  padding: 0;
  display: flex;
  border: 5px groove #727272;
  height: 46vh;
  width: 22vh;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-right: 90px;

}

.locker:hover{
  box-shadow: 18px 12px 40px #000000;
}



.polka {
  flex: 0 0 calc(33.33% - 6px);
  height: calc(20% - 6px);
  margin: 3px;
}



.box button{
  border: none;
  background: transparent;
  color: #000000;
  margin-left: 30px;
}

.box button:hover{
  color: #1c1919;
  cursor: pointer;
}

.locker button{
  cursor: pointer;
  background-color: blue;
  height: 23px;
  width: 23px;
  border-radius: 7px;
  margin: 0 24px;
}

/* .lock{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  margin-left: 20px;
  width: 20px;
} */

.empty{
  display: none;
}


.burger_menu{
  position: absolute;
  top:28px;
  left: -350px;
  height: 95vh;
  background-color: #979696;
  transition: .5s;
}

.burger_menu.open{
  display: block;
  position:absolute;
  top: 28px;
  left:  0;
  width: 350px;
  transition: .5s;
}

.burger_inner{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.list_items{
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;

  background-color: #fff;
  border:1px solid black;
  margin-bottom: 8px;
  padding: 5px 80px;
}

.check{
  
  background-color: green;
  border-radius: 15px;
  padding: 0 5px;
}

.times{
  background-color: #d51630;
  border-radius: 15px;
  padding: 1px 7px;
  margin-left:15px;
}

.check, .times:hover{
  cursor: pointer;
}



.input_text{
  margin-top: 5px;
  width: 150px;
}

.add_list{
  margin-top: 30px;
  width: 10vh;
  height: 20px;
  margin-bottom: 15px;
  background-color:#5a5858;
  border: none;
}

.add_list:hover{
  cursor: pointer;
  background-color: #b3b2b2;
}

.burger_container{
  display: block;
  width: 350px;
  height: 288px;
  border-top: 2px solid #43070f;
  border-bottom: 2px solid #43070f;
  overflow: hidden;
}

.container_locker{
  display: block;
}

/* .title{
  text-align: start;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.item_text{
  padding: 5px 0;
  border-bottom: 1px solid #43070f;
  text-align: center;
}

.clear{
  margin-top: 5px;
  width: 10vh;
  height: 20px;
  background-color: #5a5858;
  border: none;
}

.clear:hover{
 cursor: pointer;
 background-color: #b3b2b2;
}

.none{
  display: none;
}



.text-decoration-line-through{
  text-decoration: line-through;
}

.add_to_locker{
  height: 25px;
  width: 180px;
  margin-top: 5px;
  background-color: #5a5858;
  cursor: pointer;
  border: none;
}


.add_to_locker:hover{
  background-color: #b3b2b2;
}

.root{
  position: absolute;
  top: 13vh;
  background-color: #979696;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.root_inner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.root_remove{
  position: absolute;
  bottom: 25px;
}
